{% extends "base.html" %}
{% block content %}
    {% if problem %}
        <h1>{{ problem.title|upper }}</h1>
        <h3>Difficulty: {{ problem.get_difficulty_display }}</h3>
        <h2>Tags</h2>
        <ul>
            {% for tag in problem.tags.all %}<li>{{ tag.name }}</li>{% endfor %}
        </ul>
        <hr />
        <strong>
            <h2>Statement</h2>
        </strong>
        <hr />
        {% autoescape off %}
            {{ statement }}
        {% endautoescape %}
        <hr />
        <h2>
            <a class="btn btn-success" href="{% url 'problem:submit' problem.id %}">Solve</a>
        </h2>
        {% if problem.solution %}
            <h2>
                <a class="btn btn-success"
                   href="{% url 'problem:solution' problem.id %}">Solution</a>
            </h2>
        {% endif %}
    {% else %}
        No details
        available.
    {% endif %}
{% endblock content %}
