{% extends "base.html" %}
{% block content %}
    {% if problems %}
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Difficulty</th>
                <th>Solution</th>
                <th>Tags</th>
                <th>Solved</th>
            </tr>
            {% for problem in problems %}
                <tr>
                    <td>
                        <a href="{% url 'problem:detail' problem.id %}">{{ problem.id }}</a>
                    </td>
                    <td>{{ problem.title }}</td>
                    <td>{{ problem.get_difficulty_display }}</td>
                    <td>
                        {% if problem.solution %}
                            <i class="fa-solid fa-circle-check"></i>
                        {% else %}
                            <i class="fa-solid fa-circle-xmark"></i>
                        {% endif %}
                    </td>
                    <td>{{ problem.tags.all|join:", " }}</td>
                    <td>
                        {% if problem.solved %}
                            <i class="fa-solid fa-circle-check"></i>
                        {% else %}
                            <i class="fa-solid fa-circle-xmark"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No problems are available.</p>
    {% endif %}
{% endblock content %}
