{% if submissions %}
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<h1>Submissions</h1>
<table>
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Problem</th>
    <th>Language</th>
    <th>Status</th>
    <th>Timestamp</th>
    <th>Runtime</th>
    <th>Memory</th>
  </tr>
  {% for submission in submissions %}

  <tr>
    <td><a href="{% url 'submission:detail' submission.id %}">  {{ submission.id }}</a></td>
    <td><a href="{% url 'account:detail' submission.user.username %}">{{ submission.user }}</a></td>
    <td><a href="{% url 'problem:detail' submission.problem.id %}">{{ submission.problem }}</a></td>
    <td>{{ submission.language }}</td>
    <td>{{ submission.get_status_display }}</td>
    <td>{{ submission.timestamp }}</td>
    <td>{{ submission.analytics.runtime }}</td>
    <td>{{ submission.analytics.memory }}</td>
  </tr>

  {% endfor %}
</table>

{% else %}
<p>No submissions are available.</p>
{% endif %}
