{% extends "base.html" %}
{% block content %}
    {% if submissions %}
        <table class="table table-hover">
            <tr>
                <th>Id</th>
                <th>Problem</th>
                <th>Language</th>
                <th>Status</th>
                <th>Timestamp</th>
                <th>Runtime</th>
                <th>Memory</th>
            </tr>
            {% for submission in submissions %}
                <tr>
                    <td>
                        <a href="{% url 'submission:detail' submission.id %}">
                        {{ submission.id }}</a
                        >
                    </td>
                    <td>
                        <a href="{% url 'problem:detail' submission.problem.id %}">{{ submission.problem }}</a>
                    </td>
                    <td>{{ submission.language }}</td>
                    <td>{{ submission.get_status_display }}</td>
                    <td>{{ submission.timestamp }}</td>
                    <td>{{ submission.analytics.runtime }}</td>
                    <td>{{ submission.analytics.memory }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No submissions are available.</p>
    {% endif %}
{% endblock content %}
